



@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("Helvetica Neue Cyr"),
    local("Helvetica Neue Cyr"),
    url("./../fonts/HelveticaNeueCyr-Light.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("Helvetica Neue Cyr"),
    local("Helvetica Neue Cyr"),
    url("./../fonts/HelveticaNeueCyr-Medium.ttf");
  font-weight: 550;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("Helvetica Neue Cyr"),
    local("Helvetica Neue Cyr"),
    url("./../fonts/HelveticaNeueCyr-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("Helvetica Neue Cyr"),
    local("Helvetica Neue Cyr"),
    url("./../fonts/HelveticaNeueCyr-Heavy.ttf");
  font-weight:900;
  font-style: normal;
}