<section class="chooseTwo container">
  <div class="choose-block">
    <h2>CHOOSE THE COST</h2>
    <div class="slider-choose">
      <ul class="list-choose">
        <input class="btnLeft" type="button" title="Background Image" />
        <li>
          <!-- <img class="robot-circle" src="./images/chooseOne/Ellipse.png" alt="Ellipse" /> -->
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskOne" />
        </li>
        <li>
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskTwo" />
        </li>
        <li>
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskThree" />
        </li>
        <li>
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskFour" />
        </li>
        <li>
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskFive" />
        </li>
        <li>
          <img class="icon-robot" src="./images/chooseTwo/MaskSlider.png" alt="MaskSix" />
        </li>
        <input class="btnRight" type="button" title="Background Image" />
      </ul>
    </div>
    <div class="option-colectionTwo">
      <div class="left-characterTwo">
        <h3>Character</h3>
        <h4>Collection</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam convallis sed diam amet. At
          risus rhoncus et eu velit commodo sed in malesuada. A viverra placerat ac euismod
          convallis eu ac. Augue feugiat tellus parturient quam integer. Hendrerit accumsan lectus
          sit nunc natoque rhoncus nulla. Ultricies est dui morbi interdum velit, mauris massa
          maecenas. Sapien et id mattis sit.
        </p>
        <div class="listChooseTwo-button">
          <button type="button">3000</button>
        </div>
      </div>
      <div class="rigth-characterTwo">
        <div class="circleChooseTwo">
          <img
            class="imgCircleChooseTwo"
            src="./images/chooseTwo/MaskGroup.png"
            alt="MaskSix"

          />

          <img
            class="robotChooseTwo"
            src="./images/chooseTwo/robotChoose.png"
            alt="MaskSix"

          />
        </div>
      </div>
    </div>
  </div>
</section>
