<section class="choose container">
  <div class="choose-block">
    <h2>choose a coin</h2>
    <div class="slider-choose">
      <ul class="list-choose">
        <input class="btnLeft" type="button" title="Background Image" />
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskOne" />
        </li>
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskTwo" />
        </li>
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskThree" />
        </li>
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskFour" />
        </li>
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskFive" />
        </li>
        <li>
          <img src="./images/chooseOne/MaskSlider.png" alt="MaskSix" />
        </li>
        <input class="btnRight" type="button" title="Background Image" />
      </ul>
    </div>
    <div class="option-colection">
      <div class="left-character"></div>
      <div class="rigth=character"></div>
    </div>
  </div>
</section>
