<header class="page-header container">
  <div class="container header-container">
    <div class="block-logo">
      <a class="logo" href="#hero"> <img class="logo-img" src="./images/logo.png" alt="logo company" /> </a>
    </div>
    <div class="nav-panel">
      <nav>
        <ul class="nav-list-desktop">
          <li class="nav-item-desktop">
            <a class="nav-link-desktop" href="#about">About</a>
          </li>

          <li class="nav-item-desktop">
            <a class="nav-link-desktop" href="#products">Products</a>
          </li>
          <li class="nav-item-desktop">
            <a class="nav-link-desktop" href="#blog">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
