<section class="hero container">
  <div class="hero-discription">
    <div class="hero-left">
      <h1>get your own nft collectibles</h1>
      <p>
        own the most remarkable events and characters from the crypto space<br />transformed into
        the fantasy story animated on unique collectible cards
      </p>
      <button class="btn-learn">Learn more</button> <button class="btn-market">Go to market</button>
    </div>
    <div class="hero-right">
      <ul class="hero-robots-list">
        <li class="cart-robots">
          <img class="robotOne" src="./images/hero/slider/robotOne.jpg" alt="robotOne" />
          <div class="robotOne-txtblock">
            <span class="robotOne-txt">Collection</span>
            <p class="robotOne-txt-name">Character Name</p>
          </div>
        </li>
        <li class="cart-robots next">
          <img class="robotTwo" src="./images/hero/slider/robotTwo.jpg" alt="robotTwo" />
          <div class="robotTwo-txtblock">
            <span class="robotTwo-txt">Collection</span>
            <p class="robotTwo-txt-name">Character Name</p>
          </div>
        </li>
      </ul>
      <div class="scroll">
        <p>scroll</p>
        <hr />
        <ul class="list-scroll">
          <li class="scroll-item">
            <svg class="iconscroll">
              <use href="./images/hero/symbol-defs.svg#Ellipse"></use>
            </svg>
          </li>
          <li class="scroll-item">
            <svg class="iconscroll">
              <use href="./images/hero/symbol-defs.svg#Ellipse"></use>
            </svg>
          </li>
          <li class="scroll-item">
            <svg class="iconscroll">
              <use href="./images/hero/symbol-defs.svg#Ellipse"></use>
            </svg>
          </li>
          <li class="scroll-item">
            <svg class="iconscroll">
              <use href="./images/hero/symbol-defs.svg#Ellipse"></use>
            </svg>
          </li>
          <li class="scroll-item">
            <svg class="iconscroll">
              <use href="./images/hero/symbol-defs.svg#Ellipse"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
