<section class="touch container">
  <div class="touch-block">
    <h2>Get in touch</h2>
    <p>
      Token purchase and staking service will operate after the official launch.<br />
      Join our social networks for more information
    </p>
    <div class="btn-touch">
      <button class="button" type="submit">
        <span class="subm">chat with us on telegram</span>
        <svg class="iconsend" width="24" height="24">
          <use href="./images/touch/spriteTouch.svg#telegram"></use>
        </svg>
      </button>
      <button class="button" type="submit">
        <span class="subm">read more details</span>
        <svg class="iconsend" width="25" height="25">
          <use href="./images/touch/spriteTouch.svg#m"></use>
        </svg>
      </button>
      <button class="button" type="submit">
        <span class="subm">join our community</span>
        <svg class="iconsend" width="28" height="28">
          <use href="./images/touch/spriteTouch.svg#message"></use>
        </svg>
      </button>
      <button class="button" type="submit">
        <span class="subm">explore our tweets</span>
        <svg class="iconsend" width="26" height="26">
          <use href="./images/touch/spriteTouch.svg#twitter"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
