<section class="universe container">
  <div class="universe-block">
    <h2>Rare features of the Universe</h2>
    <div class="hexagon-duplicat-block">
      <ul class="list-hexagon-duplicat">
        <li >
             <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
        </li>
        <li>
            <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
        <li>

          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
        <li>

           <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
        <li>
          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
        <li>
            <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
        <li>
          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs1.svg#icon-PolygonTwo"></use>
          </svg>
          </li>
      </ul>
    </div>

    <div>
      <ul class="list-hexagon">
        <li >
          <a class="hexagon">
             <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </a>



        </li>
        <li>
          <a class="hexagon">
            <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam convallis sed diam amet. At risus rhoncus et eu velit commodo sed in malesuada.</p>
          </a>



          </li>
        <li>
          <a class="hexagon">
          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </a>



          </li>
        <li>
          <a class="hexagon">
           <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>



          </li>
        <li>
          <a class="hexagon">
          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </a>



          </li>
        <li>
          <a class="hexagon">
            <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </a>



          </li>
        <li>
          <a class="hexagon">
          <svg class="vektor" width="262" height="262">
              <use href="./images/universe/symbol-defs.svg#icon-Polygon"></use>
          </svg>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </a>



          </li>
      </ul>
    </div>

    </div>
  </div>
</section>
