.choose-block h2{
  text-align: center;
  color:$hero-color;
  font-size: 48px;
  font-weight: 900;
  line-height: 133%;
  text-transform: uppercase;
}
.choose-block{
  margin-top:75px;
}

.list-choose{
  display: flex;
justify-content: space-around;
li>img{
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
li>.icon-robotTwo:hover,
li>.icon-robotTwo:focus{

  box-shadow:(0px 4px 7px rgba(30, 60, 114, 0.4));
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border: 7px solid transparent;
  background-size: 100% , 50% ;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                    linear-gradient(30deg, #fff 50%, #fff 30%),
                    linear-gradient(120deg, rgba(255, 255, 0, 0) 36%, rgba(211, 211, 211, 0) 30%),
                    linear-gradient(300deg, rgba(255, 255, 0, 0) 36%, rgba(255, 255, 0, 0)30%),
                    linear-gradient(210deg, $hero-color  36%, $hero-color  30%);

  background-origin: content-box, border-box, border-box, border-box, border-box;

}
}
.summ{
  display: block;
  margin-left: 20px;
margin-top: -15px;
position: relative;
z-index: 9;
  width:46px ;
    height: 22px;
    background:linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
    border-radius: 4px ;
font-size: 12px;
font-weight: 700;
line-height: 133%;
color: $white-color;
padding: 4px 9px 7px 9px;

}
.slider-choose{
  margin-top: 23px;
  margin-left:165px ;
  margin-right:165px ;
  border-top:0.5px solid #CCCCCC;

  height: 148px;
  padding-top: 33px;
}
input[class="btnLeft"] {
  background: url('./../images/chooseTwo/buttonLeft.png') no-repeat top;
  width: 21px;
  height: 28px;
  border: none;
  margin-top:28px;
}
input[class="btnRight"] {
  background: url('./../images/chooseTwo/buttonRight.png') no-repeat top;
  width: 21px;
  height: 28px;
  border: none;
  margin-top: 28px;
}

.option-colectionTwo{
  display: flex;
  padding-top: 27px;
  padding-right: 290px;
  padding-bottom: 20px;
  padding-left: 260px;
  background-image: url('./../images/chooseTwo/bg.jpg') ;
  background-repeat: no-repeat;
}
.rigth-characterTwo{

margin-left:240px;

  .circleChooseTwo{
    position:relative;
width: 290px;
  }
  .imgCircleChooseTwo{
    margin-top: 0px;
  }
  .circleChooseTwo > .robotChooseTwo{
    position: absolute;
    top: 3%;
    right:29%;
  }
  .robotChooseTwo{
    height:356px
  }
}

.left-characterTwo{
  width: 380px;
  height: 311px;
  margin-top: 46px;
margin-bottom: 59px;
h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  color: $hero-color;
  margin-bottom: 6px;
}
h4{
  font-size: 18px;
  font-weight: 400;
  line-height: 133%;
  color: $hero-color;
  margin-bottom: 10px;
}
p{
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  color: #375D9F;
  margin-bottom: 30px;
}
.listChooseTwo-button{

  margin-bottom: 57px;
  button{
    width:80px ;
    height: 36px;
    background:linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
    border-radius: 8px ;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 133%;
color: $white-color;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus{
   box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  }
}
}
