.header-container, .nav-list-desktop{
  display: flex;
  justify-content: space-between;

  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;

}
.logo-img{
  width: 256px;
  margin-left: 165px;
}
.nav-panel{

  margin-right:165px;
}
.nav-list-desktop li:nth-child(-n + 2){
  margin-right: 70px;
}
a{
  text-decoration:none;
  color: #fff
}
.page-header{
    position: absolute;
    width: 100%;
 
}